<?xml version="1.0"?>
<ruleset name="TrustIndex">
    <description>PSR-12 with Symfony CS Fixer compatibility adjustments</description>

    <file>src</file>
    <file>tests</file>

    <rule ref="PSR12">
        <!-- Symfony CS Fixer @Symfony ruleset uses no spaces around concatenation operator -->
        <exclude name="PSR12.Operators.OperatorSpacing"/>
    </rule>

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="120"/>
            <property name="absoluteLineLimit" value="0"/>
        </properties>
        <exclude-pattern>src/DataFixtures/*</exclude-pattern>
    </rule>

    <ini name="memory_limit" value="256M"/>
</ruleset>
